/SortCenter/Library
/SortCenter/SortCenter.CSharp.csproj
/SortCenter/SortCenter.sln
/ShaderLab/Library
/ShaderLab/ShaderLab.sln
/Inventory/Library
/Inventory/Inventory.CSharp.csproj
/Inventory/Inventory.sln
/Inventory/Assets/UnityVS.meta
/Inventory/Assets/UnityVS/Editor.meta
/Inventory/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Inventory/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/Inventory/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
/Inventory/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/Inventory/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Inventory/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
/CurveCenter/Library
/CurveCenter/CurveCenter.CSharp.csproj
/CurveCenter/CurveCenter.CSharp.Editor.csproj
/CurveCenter/CurveCenter.sln
